// fonts
$font-main: 'Orbitron', sans-serif;

$primary-color: #FDCE04;
$secondary-color: #7800FF;
$secondary-color-gradient: liner-gradient( #7800FF, #8d29ff);
$accent-red-color: #FD006A;
$text-color-light: #EBE4F2;
$text-color-dark: #252328;
$dark-gradient: linear-gradient(#3D3D3D, #000000);


@mixin button ($color, $textColor) {
    height: 4rem;
    width: 90vw;
    background: $color;
    border: none;
    border-radius: .3rem;
    color: $textColor;
    font-size: 1.6rem;
    font-family: $font-main;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
  }