*{
  font-size: 62.5%;
}

.bg-wrapper{
  background: $dark-gradient;
  min-height: 100vh;
  width: 100%;
  height: auto;
  position: absolute;
}

.header-title {
  font-family: $font-main;
  color: $primary-color;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 4rem;
  padding: 8rem 2rem 2rem 2rem;
  line-height: 80%;
  font-style: oblique;
}

.search {
  display: grid;
  justify-items: center;
  font-size: 2rem;
  gap: 1.25rem;

  &-input {
    height: 4rem;
    width: 88vw;
    padding-left: 1rem;
    font-size: 1.8rem;
    &::placeholder{
      opacity: 25%;
    }
    &:focus {
     outline: $primary-color solid 0.2rem;
     border: $secondary-color solid 0.1rem;
    }
  }
  &-button {
    @include button($secondary-color, $text-color-light );
    
    &:focus-visible{
      background:  #a75aff;
      border-radius: 1rem;
    } 
    &:hover{
      filter: drop-shadow(0 0 .8rem rgba(217, 193, 255, 0.333));
      border: .15rem solid rgba(217, 193, 255, 0.525);
      color: #d4bcec;
      transition-duration: 150ms;
      transition-timing-function: ease-in-out;
      background: #9176ff;
    }
  }
  &-fav-reset-button{
    @include button(#6a6a6a, $text-color-light);
    &:hover{
      filter: drop-shadow(0 0 .8rem rgba(217, 193, 255, 0.333));
      background: #999999;
      border: .15rem solid rgba(217, 217, 217, 0.525);
      color: #ffffff;
      transition-duration: 150ms;
      transition-timing-function: ease-in-out;
    }
  }
  &-reset-button{
    @include button(#6a6a6a, $text-color-light);
    &:hover{
      filter: drop-shadow(0 0 .8rem rgba(217, 193, 255, 0.333));
      background: #999999;
      border: .15rem solid rgba(217, 217, 217, 0.525);
      color: #ffffff;
      transition-duration: 150ms;
      transition-timing-function: ease-in-out;
    }
  }
}

.card{
  min-width: 50%;
  padding: 1rem;
  background-color: #8d29ff;
  border-radius: .5rem;
  margin: .5rem;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
  display: grid;
  font-family: $font-second;
  
  &:hover {
    background-color: #a760f8;
    outline: 0.25rem solid rgba(217, 193, 255, 0.525);
    
  }
  
  &-image{
    width: 100%;
    object-fit: cover;
    text-align: center;
    border-radius: .5rem;
  }
  
  &-title{
    font-size: 2rem;
    padding: .5rem 0;
    align-self: center;
  }
}

.fav{
  background-color: $primary-color;
  &:hover {
    background-color: $accent-red-color;
    outline: solid .25rem #c80053;
  }
}


.main {
  display: grid;
  justify-content: center;
  grid-template-columns: 
    repeat(auto-fit, minmax(0.25fr 0.25fr));
  padding: 1rem
}

.favorite-list {
 
}

.footer{
  height: 1rem;
  width: 100%;
  padding: 5%;
  border-top: solid .25rem #6a6a6a41;
  position:static;
  bottom: 0;
  display: grid;
  place-items: center;


  &-text{
    color: $text-color-light;
    font-size: 1.4rem;
    opacity: 70%; 
    font-family:Arial, Helvetica, sans-serif;
  }
}

.message{
  font-size: 2rem;
  color: $text-color-light;
  text-align: center;
  grid-column: 1 / 4;
}